[submodule "server/tornado"]
	path = server/tornado
	url = https://github.com/facebook/tornado.git
[submodule "plugins/npapi/firebreath"]
	path = plugins/npapi/firebreath
	url = git://github.com/firebreath/FireBreath.git
