[submodule "server/tornado"]
	path = server/tornado
	url = https://github.com/facebook/tornado.git
[submodule "npapi/firebreath"]
	path = npapi/firebreath
	url = git://github.com/firebreath/FireBreath.git
